<%= content_tag :div, data: { controller: "round", "round-id": @round.id, "round-duration": 20 }, class: "marquee" do %>
  <ul class="marquee-contents" data-target="round.list">
    <li data-target="round.status" class="marquee-item">Connecting</li>
    <% @round.calls.visible.each do |call| %>
      <%= content_tag :li, call.name, data: { target: "round.call", "call-id": call.id }, class: "marquee-item" %>
    <% end %>
  </ul>
<% end %>
