@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.heading {
  @apply
    mb-4
    text-5xl
  ;
}

.row {
  @apply
    flex
    justify-between
    mb-3
    rounded-lg
    shadow-md
    border
    overflow-hidden
    items-baseline
  ;
}

.row-muted {
  @apply
    text-gray-500
  ;
}

.row-title {
  @apply
    text-lg
    p-3
    flex-1
  ;
}

.row-title-link {
  @apply
    text-blue-700
  ;
}

.row-detail {
  @apply
    text-sm
  ;
}

.row-button {
  @apply
    text-sm
    rounded-full
    py-1
    px-3
    mr-3
    shadow
  ;
}

.row-button-edit {
  @apply
    text-blue-700
    bg-blue-100
  ;
}

.row-button-delete {
  @apply
    text-red-700
    bg-red-100
  ;
}

.field {
  @apply
    mb-4
  ;
}

.field-label {
  @apply
    block
    text-gray-700
    text-sm
    font-bold
    mb-2
  ;
}

.field-input {
  @apply
    shadow
    appearance-none
    border
    rounded
    w-full
    py-2
    px-3
    text-gray-700
    leading-tight
  ;

  &:focus {
    @apply
      outline-none
      shadow-outline
    ;
  }
}

.form-actions {
  @apply
    flex
    items-center
    justify-between
  ;
}

.submit {
  @apply
    bg-blue-500
    font-bold
    inline-block
    px-4
    py-2
    rounded
    shadow
    text-white
  ;

  &:hover {
    @apply
      bg-blue-700
      cursor-pointer
    ;
  }

  &:focus {
    @apply
      outline-none
      shadow-outline
    ;
  }
}

.submit--secondary {
  @apply
    bg-white
    border-gray-700
    text-gray-700
  ;

  &:hover {
    @apply
      bg-gray-200
    ;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  @apply
    text-white
    text-5xl
    overflow-hidden
  ;

  font-family: "Calibri", system-ui;
}

.marquee-contents {
  @apply
    whitespace-no-wrap
    inline-block
  ;

  animation-duration: calc(var(--marquee-width) / var(--screen-width) * var(--duration) * 1s);
  animation-iteration-count: infinite;
  animation-name: scroll-left;
  animation-timing-function: linear;
  padding-left: calc(var(--screen-width) * 1px);
  transition: opacity calc(var(--announce-duration) * 0.1s) ease;
}

.marquee-contents-hidden {
  @apply
    opacity-0
  ;
}

.marquee-stopped {
  animation: none;
}

.marquee-item {
  @apply
    py-4
    px-20
    inline
  ;
}

.marquee-header {
  @apply
    font-bold
  ;
}

.marquee-footer {
  @apply
  ;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.marquee-overlay {
  @apply
    absolute
    top-0
    w-full
    opacity-0
  ;

  animation-direction: alternate;
  animation-duration: calc(var(--announce-duration) * 0.5s);
  animation-iteration-count: 2;
  animation-name: fade-in;
  animation-timing-function: linear;
}

.hidden-sm {
  display: none;

  @media (min-width: 768px) {
    display: inherit;
  }
}
